<div class="thoughts-form-container">
  <a href="/dashboard">Back</a>
  <h1>Creating a Thought</h1>
  <form action="/dashboard/create-thought" method="POST">
    <div class="formControl">
      <label for="text">Thought:</label>
      <input
        type="text"
        name="text"
        id="text"
        placeholder="Enter the thought..."
      />
    </div>
    <button type="submit" class="submitButton">Create Thought</button>
  </form>
</div>