:root {
  --darkGrayColor: #222;
  --whiteColor: #fff;
  --orangeColor: #f6982d;
  --darkRedColor: #9e0000;
  --redColor: #ff0000;
  --greenColor: #05f54d;
  --darkGreenColor: #057226;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: var(--darkGrayColor);
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* Header */

#logo img {
  height: 40px;
}

#navBar {
  padding: 1.2rem 1.4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkGrayColor);
  border-bottom: 1px solid var(--orangeColor);
}

#navBar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

#navBar ul li a {
  color: var(--whiteColor);
  transition: all 0.5s ease;
  font-weight: bold;
  display: inline-block;
}
#navBar ul li a:hover {
  transform: scale(1.2);
  color: var(--orangeColor);
}

/* Header end */

.message-error {
  max-width: 60%;
  padding: 16px;
  margin: 0 auto 20px;
  background-color: var(--darkRedColor);
  border: 1px solid var(--redColor);
  border-radius: 5px;
  color: var(--whiteColor);
  text-align: center;
}

.message-success {
  max-width: 60%;
  padding: 16px;
  margin: 0 auto 20px;
  background-color: var(--darkGreenColor);
  border: 1px solid var(--greenColor);
  border-radius: 5px;
  color: var(--whiteColor);
  text-align: center;
}

.container {
  flex: 1;
  padding: 2rem;
}

/* Register and Login */

.authContainer {
  max-width: 29rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.authContainer h2 {
  margin-bottom: 1rem;
  color: var(--whiteColor);
  border-left: 4px solid var(--orangeColor);
  padding-left: 8px;
  font-size: 2rem;
  width: 100px;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 1px;
}

.formControl label {
  font-weight: bold;
}

.formControl input,
.formCotnrol textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid var(--orangeColor);
  background-color: transparent;
  color: var(--whiteColor);
}

.submitButton {
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: var(--orangeColor);
  border: 2px solid var(--orangeColor);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.submitButton:hover {
  background-color: var(--orangeColor);
  color: var(--whiteColor);
  transform: scale(1.1);
}

form .submitButton {
  padding: 10px 25px;
  margin-bottom: 16px;
}

form p {
  font-weight: bold;
}

form p a {
  color: var(--orangeColor);
  transition: all 0.5s ease;
}
form p a:hover {
  color: #ff8000;
  border-bottom: 1px solid var(--orangeColor);
}
/* Register and Login  end */

/* DASHBOARD */
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title-container h2 {
  font-size: 2rem;
  border-left: 4px solid var(--orangeColor);
  padding: 6px 0 6px 10px;
}

.dashboard h3 {
  margin-bottom: 20px;
}

.dashboard ul {
  list-style: none;
}

.dashboard li {
  padding: 12px;
  border-bottom: 1px solid var(--orangeColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard .label {
  font-weight: bold;
  color: var(--orangeColor);
  margin-right: 20px;
}

.dashboard .actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btnPath {
  margin: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.dashboard .actions .btn {
  background-color: transparent;
  border: 1px solid var(--whiteColor);
  font-size: 1rem;
  font-weight: bold;
  color: var(--whiteColor);
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dashboard .actions .delete:hover {
  background-color: var(--darkRedColor);
  color: var(--whiteColor);
  transform: scale(1.1);
}

.dashboard .actions .edit:hover {
  background-color: var(--orangeColor);
  color: var(--whiteColor);
  transform: scale(1.1);
}

.dashboard p a {
  color: var(--orangeColor);
  transition: all 0.5s ease;
}
.dashboard p a:hover {
  font-weight: bold;
}
/* Dashboard END*/

/* dashboard/create - */

.thoughts-form-container a {
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: var(--orangeColor);
  border: 1px solid var(--orangeColor);
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.5s ease;
}

.thoughts-form-container a:hover {
  color: var(--whiteColor);
  background-color: var(--orangeColor);
}

.thoughts-form-container h1 {
  border-left: 4px solid var(--orangeColor);
  padding: 8px;
  margin: 35px 0;
}

.thoughts-form-container form {
  max-width: 30%;
  margin-top: 16px;
}

/* Dashboard  end */

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--orangeColor);
}

footer span {
  font-weight: bold;
  color: var(--orangeColor);
}
